{% extends 'base.html' %}
{% block content %}


<h1>Set Details</h1>

<div class="card">
  <div class="card-content">
    <span class="card-title">Set Number {{ set.set_num}} - {{ set.name }}</span>
    <p>Number of Pieces: {{ set.num_parts}} </p>
    <p>Description: {{ set.description|linebreaks }}</p>
    <p>Minifigures: {{ set.num_minifigs}}</p>
    <img src = "{{ set.img_url }}" alt = "{{ set.name }}">
    <p>Year: {{ set.year }}</p>
    <div class="card-action">
      <a href="{% url 'sets_update' set.set_num %}">Edit</a>
      <a href="{% url 'sets_delete' set.set_num %}">Delete</a>
      
    <!-- New Markup Below -->
    <form action="{% url 'collections_update' collection_id=collections.id set_num=set.set_num %}" method="POST">
      {% csrf_token %}      
      <!-- Render the inputs -->
      <input type="hidden" name="set" value="{{ set.set_num }}">
      <input type="hidden" name="collection" value="{{ collections.id }}">
      
      <input type="submit" class="btn" value="Add Set To Collection">
    </form>
    </div>
  </div>
</div>


{% endblock %}