{% extends 'base.html' %}
{% block content %}

<h1>Set Details</h1>

<div class="card">
  <div class="card-content">
    <span class="card-title">Set Number {{ set.set_num}} - {{ set.name }}</span>
    <p>Number of Pieces: {{ set.num_parts}} </p>
    <p>Description: {{ set.description|linebreaks }}</p>
    <p>Minifigures: {{ set.num_minifigs}}</p>
    <img src = "{{ set.set_img_url }}" alt = "{{ set.name }}">
    <p>Year: {{ set.year }}</p>
    <div class="card-action">
      <a href="{% url 'sets_update' set.id %}">Edit</a>
      <a href="{% url 'sets_delete' set.id %}">Delete</a>
    </div>
  </div>
</div>

{% endblock %}