{% extends 'base.html' %}
{% block content %}


<h1>Set Details</h1>

<div class="card">
  <div class="card-content">
    <span class="card-title">Set Number {{ set.set_num}} - {{ set.name }}</span>
    <p>Number of Pieces: {{ set.num_parts}} </p>
    <p>Description: {{ set.description|linebreaks }}</p>
    <p>Minifigures: {{minifigs|length}}</p>
    
    <img class = 'cardImg' src = "{{ set.img_url }}" alt = "{{ set.name }}">
    {% for part_num, quantity, img_url in inventories %}
        <div>
            <img class = 'partImg' src="{{ img_url }}" alt="{{ part_num }}">
            <p>{{ part_num }} - {{ quantity }}</p>
        </div>
    {% endfor %}

    {% if inventories.has_other_pages %}
        <nav>
            {% if inventories.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ inventories.previous_page_number }}">previous</a>
            {% endif %}

            {% if inventories.has_next %}
                <a href="?page={{ inventories.next_page_number }}">next</a>
                <a href="?page={{ inventories.paginator.num_pages }}">&raquo; last</a>
            {% endif %}
        </nav>
    {% endif %}
    <p>Year: {{ set.year }}</p>
    <div class="card-action">
      <a href="{% url 'sets_update' set.set_num %}">Edit</a>
      <a href="{% url 'sets_delete' set.set_num %}">Delete</a>
      
    <!-- New Markup Below -->
    <form id = 'form' action="{% url 'collections_update' collection_id=0 set_num=set.set_num %}" method="POST">
      {% csrf_token %}      
      <!-- Render the inputs -->
      <input type="hidden" name="set" value="{{ set.set_num }}">
      
      <div class="input-field col s12">
        <select id = "collection_select">
            <option value="" disabled selected>Choose your Collection</option>
          {% for collection in collections %}
            <option value="{{ collection.id }}">{{ collection.name }}</option>
          {% endfor %}
        </select>
      </div>
      <input id = "submit"type="submit" class="hidden btn" value="Add Set To Collection" disabled>
    </form>
    </div>
  </div>
</div>



{% endblock %}