{% extends 'base.html' %}
{% block content %}
{% load static %}


{% if theme_name == 'Harry Potter' %}
<style>
  body{
        background-image: url("{% static 'images/harry-potter.jpeg' %}");
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
  }
</style>
{% endif % }
<h1>Set List</h1>
{% for set in sets %}
  <div class="card">
    <a href= "{% url 'detail' set.0 %}">
    <div class="card-content">
      <span class="card-title">{{ set.1 }}</span>
      <img class = 'cardImg' src = "{{ set.2 }}" alt = "{{ set.1 }}"></a> 
      <!-- <p>Minifigures: {{set.minifigs | length }}</p> -->
    </div>
  </a>
  </div>
{% endfor %}
{% if sets.has_other_pages %}
        <nav>
            {% if sets.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ sets.previous_page_number }}">previous</a>
            {% endif %}

            {% if sets.has_next %}
                <a href="?page={{ sets.next_page_number }}">next</a>
                <a href="?page={{ sets.paginator.num_pages }}">&raquo; last</a>
            {% endif %}
        </nav>
    {% endif %}

{% endblock %}