{% extends 'base.html' %}
{% block content %}

{% load static %}
<link rel="stylesheet" href="{% static 'css/login.css' %}">


<style>
	/* added it here because when trying to add it in the css, it wouldnt work  
	*/
	body {
		background-image: linear-gradient(
          rgba(255, 255, 255, 0.45), 
          rgba(255, 255, 255, 0.45)
        ),
        url("{% static 'images/space-lego.jpeg' %}");
		background-repeat: no-repeat;
		background-size: cover;
        background-attachment: fixed;
        background-position: center
	}

    
</style>

<h1 id="loginHeader">Log In</h1>


<form class='login' method="POST" action="{% url 'login' %}">
    <p> Test User: brickbybrick - Test Password: testuser13</p>
    {% csrf_token %}
    {{ form.as_p }}
    <input type="hidden" name="next" value="{{ next }}" />
    <button type="submit">Log In</button>


{% endblock %}
