{% comment %} {% extends 'base.html' %} {% endcomment %}
{% block content %}

{% load static %}
<link rel="stylesheet" href="{% static 'css/home.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<style>
	
	body{
        background-image: linear-gradient(
          rgba(255, 255, 255, 0.45), 
          rgba(255, 255, 255, 0.45)
        ), url("{% static 'images/prison-break.png' %}");
        background-repeat: no-repeat;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        background-position: center;
  }
</style>

<body>
<div class="textContainer">
	<div class="text">
	
		<img src="{% static 'images/BrickByBrickLogo.png' %}" alt="Lego Logo" id="legoLogo">
	
	<div class="center-align">
		<div class="box" id="aboutBox">
			<a href="{% url 'about'%}">About Us</a>
		</div>
		<div class="box">
			<a href="{% url 'sets_index' theme_name='Star Wars' %}">Browse Lego Sets</a>
		</div>
		<div class="box">
			<a href="/accounts/login">Log In</a>
		</div>
		<div class="box" id="boxThree">
		{% comment %} Placeholder for now  {% endcomment %}
			<a href="accounts/signup">Sign Up</a>
		</div>
		<p> Test User: brickbybrick - Test Password: testuser13</p>
	</div>
</div>
</div>


</body>


{% endblock %}
