{% comment %} {% extends 'base.html' %} {% endcomment %}
{% block content %}

{% load static %}
<link rel="stylesheet" href="{% static 'css/home.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<style>
	/* added it here because when trying to add it in the css, it wouldnt work  
	*/
	body {
		background-image: url("{% static 'images/prison-break.png' %}");
		background-repeat: no-repeat;
		background-size: cover;
	}
</style>

<body>
<div class="text">
	
		<img src="{% static 'images/BrickByBrickLogo.png' %}" alt="Lego Logo" id="legoLogo">
	
	<div class="center-align">
		<div class="box" id="aboutBox">
			<a href="{% url 'about'%}">About Us</a>
		</div>
		<div class="box">
		{% comment %} Placeholder for now  {% endcomment %}
			<a href="{% url 'collections_index' %}">View Your Lego Sets</a>
		</div>
		<div class="box">
			<a href="/accounts/login">Log In</a>
		</div>
		<div class="box" id="boxThree">
		{% comment %} Placeholder for now  {% endcomment %}
			<a href="accounts/signup">Sign Up</a>
		</div>
		<p> Test User: brickbybrick - Test Password: testuser13</p>
	</div>
</div>


</body>


{% endblock %}
