{% extends 'base.html' %}
{% block content %}

{% load static %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">
<link rel="stylesheet" href="{% static 'css/home.css' %}">

<body>
	<div class="box">
		<a href="{% url 'about'%}">About Us</a>
	</div>
	<div class="box">
       {% comment %} Placeholder for now  {% endcomment %}
		<a href="{% url 'collections_index' %}">View Your Lego Sets</a>
	</div>
	<div class="box" id="boxThree">
     {% comment %} Placeholder for now  {% endcomment %}
		<a href="lego-tutorials.html">LEGO Tutorials</a>
	</div>
</body>


<h1 id="headerBoard">Inspiration Board</h1>
<div class="card-grid">
{% for set in sets %}
  <div class="card">
    <a href= "{% url 'detail' set.set_num%}">
    <div class="card-content">
      <span class="card-title">{{ set.name }}</span>
      <img src = "{{ set.img_url }}" alt = "{{ set.name }}"></a> 
      <!-- <p>Minifigures: {{set.minifigs | length }}</p> -->
    </div>
  </a>
  </div>
{% endfor %}
</div>

{% endblock %}