{% extends 'base.html' %}
{% block content %}

{% load static %}
<link rel="stylesheet" href="{% static 'css/index.css' %}">

<style>
    body{
        background-image: linear-gradient(
          rgba(255, 255, 255, 0.45), 
          rgba(255, 255, 255, 0.45)
        ), url("{% static 'images/search-background.png' %}");
        background-repeat: no-repeat;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        background-position: center;
  }

</style>

<body class="searchWallpaper">
    {% if searchWord %}
    <h1>You Searched for "{{ searchWord }}"</h1>
    <br>

    <h2>Results:</h2>
    
    <br>
    <div class="card-grid">
        {% for sets in searchSets %}
        <div class="card">
            <div class="card-content">
                <a href= "{% url 'detail' sets.set_num%}">
                    <span class="card-title">{{ sets.name }}</span>
                    <img class = "cardImg" src="{{ sets.img_url }}" alt="{{ sets.name }}">
                </a>

            </div>

        </div>
        {% endfor %}
    </div>
{% else %}
    <h1>Your search returned no results...</h1>
{% endif %}

                </div>

</body>


{% endblock %}

<!-- Refrences:
https://www.youtube.com/watch?v=AGtae4L5BbI&t=725s 


-->
