{% extends 'base.html' %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/index.css' %}">


{% load static %}
<style>
    
    body{
        background-image: linear-gradient(
          rgba(255, 255, 255, 0.45), 
          rgba(255, 255, 255, 0.45)
        ), url("{% static 'images/pirate-collection.jpeg' %}");
        background-repeat: no-repeat;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        background-position: center;
  }
  
</style>


<h1>Sets in {{ collection.name }} Collection  </h1>
<btn class = 'btn'><a href="{% url 'collection_parts' collection.id %}">View All Parts In This Collection</a></btn>
<div class="card-grid">
{% for set in sets %}
  <div class="card">
    
    <div class="card-content">
      
      <a href= "{% url 'detail' set.set_num %}"><img class = "cardImg"src = "{{ set.img_url }}" alt = "{{ set.name }}"></a> 
      <p> {{set.name}}
      <!-- <p>Minifigures: {{set.minifigs | length }}</p> -->
      <div class="card-action">
        <form action="{% url 'collections_remove' collection_id=collection.id set_num=set.set_num %}" method="POST">
          {% csrf_token %}      
          <!-- Render the inputs -->
          <input type="hidden" name="set" value="{{ set.set_num }}">
          <input type="hidden" name="collection" value="{{ collection.id }}">
          
          <input type="submit" class="btn formBtn" value='Remove'>
        </form>
      </div>
    </div>
  </a>
  </div>
{% endfor %}
</div>
{% endblock %}