{% extends 'base.html' %}
{% block content %}

{% load static %}
<link rel="stylesheet" href="{% static 'css/index.css' %}">

<style>
    body {
        background-image: url("{% static 'images/collections.jpeg' %}");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
    }

    /* This is a seudo element, the content points to a empty string,
    which creates the pseudo element.
    width & height is at 100% bc we want to cover 100% of the page.
    background-color is the color of the overlay. which also is the opacity.
    The z-index is set to -1, so it will be behind the content.
    SO the words wont be transparent.
    */

      body::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: rgba(255, 255, 255, 0.5); /* adjust the alpha value as needed */
        z-index: -1;
    }
</style>

<h1>Collection List</h1>

<btn class="btn"><a href="{% url 'collections_create' %}">Add a Collection</a></btn>
<btn class = "btn"><a href="{% url 'collection_parts' 0 %}">View Parts In All Collections</a></btn>
<div class = 'card-grid'>
{% for collection in collections %}
  <div class="card">
    <a href= "{% url 'collections_detail' collection.id %}">
    <div class="card-content">
      <span class="card-title">{{ collection.name }}</span>
      
      <!-- <p>Minifigures: {{set.minifigs | length }}</p> -->
    </div>
  </a>
    <div class = 'btn-tray'>
      <btn class="btn"><a href="{% url 'collections_delete' collection.id %}">Delete</a></btn>
    </div>
  </div>
{% endfor %}
</div>

{% endblock %}