@import url('https://fonts.googleapis.com/css2?family=Glegoo&display=swap');

/* body {
    background-color: #E8E5DA; 
      background-image: url("{% static 'images/about-wallpaper.jpeg' %}");
} */

.aboutHeader {
    font-family: 'Glegoo', serif !important;
    text-align: center;
    text-decoration: underline 3px;
    margin-bottom: 100px;
    margin-top: 130px;
    font-weight: 100;
}


.aboutSectionParagraph {
    text-align: center;
    letter-spacing: 1.2px;
    margin-top: 1.5px;
    margin-bottom: 2px;
    line-height: 36px;
    font-weight: 500;
}


footer {
    text-align: center;
    margin-top: 75px;
}

.creator {
    font-family: 'Glegoo', serif !important;
    font-weight: 100;
    font-size: 20px;
    margin-top: 25px;
    text-align: center;
    position: relative;
}

li {
    letter-spacing: 2px;
    padding: 1.3px;
}