.part-tray { 
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    height: 40vh;
    flex-wrap: wrap;
    padding: 5px;
    overflow: auto;
}

.part {
    width: 150px;
    height: 55px;
    margin: 10px;
    font-size: 12px;
}


.select-dropdown {
    min-width: 200px;
}

form {
    flex-direction: column;
}