@import url('https://fonts.googleapis.com/css2?family=Glegoo&display=swap');

  /* https://css-tricks.com/snippets/css/a-guide-to-flexbox/ */
  /* https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Flexible_Box_Layout/Basic_Concepts_of_Flexbox */

.container {
    margin: auto;
    padding: 20px;
}

h1 {
    letter-spacing: 2px;
}

.card-grid {
 display: grid;
 grid-template-columns: repeat(5, 1fr);
 grid-auto-rows: auto;
 grid-gap: 5px;


}

.card-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    justify-content: center;
    width: 90%;
    max-width: 22rem;
    margin: 0 auto;
}

.card {
    box-sizing: border-box;
    padding: 5px;
    margin-bottom: 20px;
    max-width: 22rem;
    background-color: rgba(255, 255, 255, .35);
    max-height: 22rem;
    box-shadow: 0 0 4px 4px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    z-index: auto;

}
.btn-tray {
    display: flex;
    justify-content: center;
}
.card:hover {
    background-color: rgba(255, 255, 255, 0.8);
    
}

.card:nth-child(3n+1) {
    margin-right: 10px;
}

.card:last-child {
    margin-right: 0;
}

.card-title {
    font-size: 1 rem;
    font-weight: bold;
    margin-bottom: 20px;
    color: black;
}
.side-nav {
    width: 90%;
}

.formBtn {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    white-space: normal;
    max-width: 150px;
}


@media (max-width: 1250px) {
    .card-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 1000px) {
    .card-grid {
        grid-template-columns: repeat(1, 1fr);
    }
}