@import url('https://fonts.googleapis.com/css2?family=Glegoo&display=swap');

* {
  font-family: 'Glegoo', serif;
}

.confirm {
  margin-left: 5px;
}
nav form .input-field input[type=search]:focus {
  height: auto;
}

body {
    display: flex;
    min-height: 100vh;
    max-height: 200vh;
    flex-direction: column;
  }

#navLogoId {
  margin-top: -8px !important;
  margin-left: -35px !important;
  
}

  main {
    flex: 1 0 auto;
  }
  
  footer.page-footer {
    padding-top: 0;
    text-align: right;
  }

  nav {
    background-color: rgba(211,211,211,0.35);
  }


  nav img {
    height: 90px;
    width: auto;
    margin-left: 20px;
  }
  form {
    display: flex;
    background-color:rgba(255, 255, 255, .9);
    border-radius: 5px;
  }

  btn a {
    text-decoration: none;
    color: white;
  }
  
  .partImg {
    max-width: 25px;
    max-height: auto;
  }

  

  .side-img {
    width: 90%;
    max-height: 90%;
  }

  .cardImg {
    max-height: 12rem;
    max-width: 12rem;
    box-shadow: 0 0 4px 4px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
  }

  .page-nav {
    background-color: darkgray;
    display: flex;
    justify-content: space-around;
}

.part p {
  margin: 0;
}

.twitter {
  position: absolute;
  top: 150px;
  left: 10px;
  opacity: 0.2;
  transition: all 1s ease;
}

.twitter:hover {
  opacity: 1;
}


.addForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  width: 50%;
}




#ddCss{
  color:rgb(124, 123, 123);
  font-weight: bold;
  background-color: rgba(211,211,211,0.35);

}

#ddCss:hover {
  color: rgb(117, 117, 117);
  font-weight: bolder;
  background-color: rgba(211,211,211,0.50);
}

#collBtn {
  background-color: rgba(211,211,211,0.35);
}

#collBtn:hover {
  background-color: rgba(184, 182, 182, 0.7);
}

#sidebar {
  background-color: rgba(211,211,211,0.7);
  z-index: 4;
}

#sidebar:hover {
  background-color: rgba(211,211,211,0.9);
}

#CdTtl {
  color: black;
  font-size: 1.5rem;
}

#CdTtl:hover {
  color: rgba(71, 181, 214, 0.849);
  font-weight: bold;
  text-decoration: underline;
}

.CollList {
  color: black;
  font-size: 1.85rem;
  font-weight: 400;
}

.CollList:hover {
  color: rgba(71, 181, 214, 0.849);
  font-weight: 600;
  text-decoration: underline;
}

#AddColl {
  background-color: rgba(0, 0, 0, 0.822);
  margin-left: 75px;
}

#AddColl:hover {
  font-weight: 600;
}

#AddCollA {
  color: rgb(255, 255, 255);
}

#SNVCard{
  background-color: rgba(255, 255, 255, .35);
}

#SNVCard:hover {
  background-color: rgba(255, 255, 255, 0.8);
}

@media (max-width: 1700px) {
  .twitter {
    display: none;
  }
}