/* .part-tray { 
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    height: 40vh;
    flex-wrap: wrap;
    padding: 5px;
}
.card-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-auto-rows: auto;
    grid-gap: 5px;
   
   
   }
.card {
    display: flex;
    flex-direction: column;
    margin: 10px;
    border-radius: 5px
}


.select-dropdown {
    min-width: 200px;
}

form {
    flex-direction: column;
} */
