@import url('https://fonts.googleapis.com/css2?family=Glegoo&display=swap');



#loginHeader {
    text-align: center;
    letter-spacing: 3px;
    font-family: 'Glegoo', serif;
    margin-top: 150px;
    margin-bottom: 40px;
    font-weight: bolder;
    
}

p {
    margin: 15px;
    padding: 15px;
}

.login {
    text-align: left;
    justify-content: center;
    display: flex;
    flex-direction: column;
    max-width: 30vw;
    margin: 0 auto;
    padding: 20px;
    min-width: 250px;

}

label {
    font-weight: bolder;
    font-size: 24px;
    color: black;
    display: block;
    margin-bottom: 5px;
    letter-spacing: 1.5px;
}

button {
    position: relative;
    padding: 10px 20px;
    max-height: 4.5rem;
    outline: none;
    border: .5px solid #aaa6a6;
    background: #aba0a0;
    
    text-transform: uppercase;
    letter-spacing: 2px;
    opacity: .7;
    font-size: 20px;
    border-radius: 20px;
    cursor: pointer;
    font-weight: bold;
    margin-top: 25px;
    justify-content: center;
    display: block;
}

button:hover{
    background: #867d7d
}


