.sidebar {
    height: 100vh;
    width: 0;
    position: fixed;
    top: 0;
    right: 0;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 110px;
    background-color: lightblue;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#sidebar {
    background-color: rgb(179, 179, 179);
    z-index: 4;
    border: solid rgb(58, 58, 58) 1px;
  }
  
  #sidebar:hover {
    background-color: rgb(179, 179, 179);
  }
  
.sidebar .card{
    margin-left: 10px;
}
    
.sidebar li {
    padding: 8px 8px 8px 30px;
    font-size: 24px;
    display: block;
    transition: 0.5s;
    cursor: pointer;
}
    
#AddColl {
    position: relative;
    margin: 0.5rem 0 1rem 0;
}

.sidebar .closebtn {
    position: absolute;
    padding-top: 110px;
    top: 0;
    right: 25px;
    font-size: 36px;
}
    
.openbtn {
    font-size: 24px;
    cursor: pointer;
    background-color: lightblue;
}

#main {
    transition: margin-left .5s;
}


/* refrences 
https://blog.hubspot.com/website/css-sidebar#:~:text=If%20you're%20DIY%2Ding,want%20a%20pure%20CSS%20implementation. */
