{% extends 'base.html' %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/index.css' %}">
<style>
    body{
        background-image: linear-gradient(
          rgba(255, 255, 255, 0.45), 
          rgba(255, 255, 255, 0.45)
        ), url("{% static 'images/pirate-collection.jpeg' %}");
        background-repeat: no-repeat;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        background-position: center;
  }
</style>

<h1>Set Details</h1>

<div class="set-card">
  <div class="card-content">
    <span class="card-title">Set Number {{ sets.set_num}} - {{ sets.name }}</span>
    <p>Number of Pieces: {{ sets.num_parts}}</p>
    <p> {% if set_owned %} You own this set! {% else %} You have approximately {{ percentage }}% of the pieces for this set {% endif %}</p>
    <p>Year: {{ sets.year }}</p>
    <p>Minifigures: {{minifigs|length}}</p>
    
    <img class = 'cardImg' src = "{{ sets.img_url }}" alt = "{{ sets.name }}">
  </div>
</div>
    <div class="part-grid">
        {% for part_num, quantity, img_url, part_num__part_name in inventories %}
        
          
            <div class="part-card card">
              <div class="partImgDiv">
                <img class = 'partImg' src="{{ img_url }}" alt="{{ part_num }}">
              </div>
              <p>Part #:{{ part_num }}</p>  
              <p>Part : {{part_num__part_name}}</p>
              <p>Qty: {{ quantity }}</p>
            </div>
          
        
        {% endfor %}
      </div>
      
   

    {% if inventories.has_other_pages %}
        <nav class = 'page-nav'>
            {% if inventories.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ inventories.previous_page_number }}">previous</a>
            {% endif %}

            {% if inventories.has_next %}
                <a href="?page={{ inventories.next_page_number }}">next</a>
                <a href="?page={{ inventories.paginator.num_pages }}">&raquo; last</a>
            {% endif %}
        </nav>
    {% endif %}
    
    <div class="card-action">
      <!-- <a href="{% url 'sets_update' sets.set_num %}">Edit</a>
      <a href="{% url 'sets_delete' sets.set_num %}">Delete</a> -->
      
    <!-- New Markup Below -->
    <form id = 'form' action="{% url 'collections_update' collection_id=0 set_num=sets.set_num %}" method="POST">
      {% csrf_token %}      
      <!-- Render the inputs -->
      <input type="hidden" name="set" value="{{ sets.set_num }}">
      
      <div class="input-field col s12">
        <select id = "collection_select">
            <option value="" disabled selected>Choose your Collection</option>
          {% for collection in collections %}
            <option value="{{ collection.id }}">{{ collection.name }}</option>
          {% endfor %}
        </select>
      </div>
      <br>
      <input id = "submit"type="submit" class="hidden btn" value="Add Set To Collection" disabled>
    </form>
    </div>
  </div>
</div>



{% endblock %}