{% extends 'base.html' %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/detail.css' %}">
<style>
    body {
        background-image: url("{% static 'images/pirate-collection.jpeg' %}");
        background-repeat: no-repeat;
        background-size: cover;
    }

    /* This is a seudo element, the content points to a empty string,
    which creates the pseudo element.
    width & height is at 100% bc we want to cover 100% of the page.
    background-color is the color of the overlay. which also is the opacity.
    The z-index is set to -1, so it will be behind the content.
    SO the words wont be transparent.
    */

      body::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: rgba(255, 255, 255, 0.5); /* adjust the alpha value as needed */
        z-index: -1;
    }
</style>

<h1>Set Details</h1>

<div class="card">
  <div class="card-content">
    <span class="card-title">Set Number {{ sets.set_num}} - {{ sets.name }}</span>
    <p>Number of Pieces: {{ sets.num_parts}}</p>
    <p> {% if set_owned %} You own this set! {% else %} You have approximately {{ percentage }}% of the pieces for this set {% endif %}</p>
    <p>Year: {{ sets.year }}</p>
    <p>Minifigures: {{minifigs|length}}</p>
    
    <img class = 'cardImg' src = "{{ sets.img_url }}" alt = "{{ sets.name }}">
    <div class="part-tray">

        {% for part_num, quantity, img_url in inventories %}
        <div class="part">
          <p>Part #:{{ part_num }}</p>  
          <img class = 'partImg' src="{{ img_url }}" alt="{{ part_num }}">
           <p>Qty: {{ quantity }}</p>
        </div>
        {% endfor %}
    </div>

    {% if inventories.has_other_pages %}
        <nav class = 'page-nav'>
            {% if inventories.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ inventories.previous_page_number }}">previous</a>
            {% endif %}

            {% if inventories.has_next %}
                <a href="?page={{ inventories.next_page_number }}">next</a>
                <a href="?page={{ inventories.paginator.num_pages }}">&raquo; last</a>
            {% endif %}
        </nav>
    {% endif %}
    
    <div class="card-action">
      <!-- <a href="{% url 'sets_update' sets.set_num %}">Edit</a>
      <a href="{% url 'sets_delete' sets.set_num %}">Delete</a> -->
      
    <!-- New Markup Below -->
    <form id = 'form' action="{% url 'collections_update' collection_id=0 set_num=sets.set_num %}" method="POST">
      {% csrf_token %}      
      <!-- Render the inputs -->
      <input type="hidden" name="set" value="{{ sets.set_num }}">
      
      <div class="input-field col s12">
        <select id = "collection_select">
            <option value="" disabled selected>Choose your Collection</option>
          {% for collection in collections %}
            <option value="{{ collection.id }}">{{ collection.name }}</option>
          {% endfor %}
        </select>
      </div>
      <input id = "submit"type="submit" class="hidden btn" value="Add Set To Collection" disabled>
    </form>
    </div>
  </div>
</div>



{% endblock %}