{% extends 'base.html' %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/index.css' %}">

{% if theme_name == 'Harry Potter' %}
<style>
  body{
        
        background-image: url("{% static 'images/new-harry.jpeg' %}");
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        background-position: center;
        

  }
  
</style>
{% endif %}

{% if theme_name == 'Star Wars' %}
<style>
  body{
        background-image: url("{% static 'images/new-starwars.jpeg' %}");
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        background-position: center;
  }
  </style>
{% endif %}

{% if theme_name == 'City' %}
<style>
  body{
        background-image: url("{% static 'images/new-legocity.jpeg' %}");
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        background-position: center;
  }
  </style>
{% endif %}

{% if theme_name == 'UCS' %}
<style>
  body{
        background-image: url("{% static 'images/new-batman.jpeg' %}");
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        background-position: center;
  }
  </style>
{% endif %}
<style>
body::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.5); /* adjust the alpha value as needed */
  z-index: -1;
}
</style>

<h1>Set List</h1>
<div class = 'card-grid'>
{% for set in sets %}
  <div class="card">
    <a href= "{% url 'detail' set.0 %}">
    <div class="card-content">
      <span class="card-title">{{ set.1 }}</span>
      <img class = 'cardImg' src = "{{ set.2 }}" alt = "{{ set.1 }}"></a> 
      <!-- <p>Minifigures: {{set.minifigs | length }}</p> -->
    </div>
  </a>
  </div>
{% endfor %}
</div>
{% if sets.has_other_pages %}
        <nav class = "page-nav">
            {% if sets.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ sets.previous_page_number }}">previous</a>
            {% endif %}

            {% if sets.has_next %}
                <a href="?page={{ sets.next_page_number }}">next</a>
                <a href="?page={{ sets.paginator.num_pages }}">&raquo; last</a>
            {% endif %}
        </nav>
{% endif %}
<div class = "twitter"><a class="twitter-timeline" href="https://twitter.com/LEGO_Group?ref_src=twsrc%5Etfw" data-width="220px" data-height="1500px">Tweets by LEGO_Group</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script></div>
{% endblock %}