{% extends 'base.html' %}
{% block content %}


{% load static %}
<style>
    body {
        background-image: url("{% static 'images/pirate-collection.jpeg' %}");
        background-repeat: no-repeat;
        background-size: cover;
    }

    /* This is a seudo element, the content points to a empty string,
    which creates the pseudo element.
    width & height is at 100% bc we want to cover 100% of the page.
    background-color is the color of the overlay. which also is the opacity.
    The z-index is set to -1, so it will be behind the content.
    SO the words wont be transparent.
    */

      body::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: rgba(255, 255, 255, 0.5); /* adjust the alpha value as needed */
        z-index: -1;
    }
</style>


<h1>Sets in {{ collection.name }} Collection  </h1>

<a href="{% url 'collection_parts' collection.id %}">View Parts In This Collection</a>

{% for set in sets %}
  <div class="card">
    
    <div class="card-content">
      <span class="card-title">{{ set.name }}</span>
      <a href= "{% url 'detail' set.set_num %}"><img class = "cardImg"src = "{{ set.img_url }}" alt = "{{ set.name }}"></a> 
      <!-- <p>Minifigures: {{set.minifigs | length }}</p> -->
      <div class="card-action">
        <form action="{% url 'collections_remove' collection_id=collection.id set_num=set.set_num %}" method="POST">
          {% csrf_token %}      
          <!-- Render the inputs -->
          <input type="hidden" name="set" value="{{ set.set_num }}">
          <input type="hidden" name="collection" value="{{ collection.id }}">
          
          <input type="submit" class="btn" value='Remove "{{ set.name }}" from "{{ collection.name }}" Collection?'>
        </form>
      </div>
    </div>
  </a>
  </div>
{% endfor %}

{% endblock %}