@import url('https://fonts.googleapis.com/css2?family=Glegoo&display=swap');

body {
    background-color: #E8E5DA;
}

.aboutHeader {
    font-family: 'Glegoo', serif !important;
    text-align: center;
    text-decoration: underline 3px;
    margin-bottom: 100px;
}


.aboutSectionParagraph {
    text-align: center;
    letter-spacing: 1.2px;
    margin-top: 1.5px;
    margin-bottom: 2px;
    line-height: 36px;
}

 nav {
    background-color: #cce197;

  }


footer {
    text-align: center;
    margin-top: 75px;
}