.part-tray { 
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    height: 40vh;
    flex-wrap: wrap;
    padding: 5px;
}

.part {
    width: 150px;
    height: 55px;
    margin: 10px;
    font-size: 12px;
}

.page-nav {
    background-color: darkgray;
    display: flex;
    justify-content: space-around;
}

