
h1 {
    text-align: center;
    letter-spacing: 3px;
    font-family: 'Glegoo', serif;
    margin-top: 50px;
    margin-bottom: 40px;
    font-weight: bolder;
}

p {
    margin: 15px;
    padding: 15px;
}

form {
    text-align: left;
    justify-content: center;

}

label {
    font-weight: bold;
    color: black;
}
