@import url('https://fonts.googleapis.com/css2?family=Glegoo&display=swap');

* {
  font-family: 'Glegoo', serif;
}
nav form .input-field input[type=search]:focus {
  height: auto;
}

body {
    display: flex;
    min-height: 100vh;
    max-height: 200vh;
    flex-direction: column;
  }
  
  main {
    flex: 1 0 auto;
  }
  
  footer.page-footer {
    padding-top: 0;
    text-align: right;
  }

 
  
  nav {
    background-color: darkgray;
  }

  nav img {
    margin-top: 6px;
    margin-left: 10px;
    max-height: 50px;
    max-width: auto;
  }
  
  form {
    display: flex;
  }

  btn a {
    text-decoration: none;
    color: white;
  }
  
  .partImg {
    max-width: 25px;
    max-height: auto;
  }

  .cardImg {
    max-width: 30vw;
    max-height: auto;
  }