{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Brick By Brick</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <link rel="stylesheet" href="{% static 'css/side-bar.css' %}">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <script src="{% static 'js/side-bar.js' %}"></script>

</head>



<body>

<div class="body-text">

<!-- Drop Down Structure ----------------------------------------------------------------->
<ul id="dropdown1" class="dropdown-content">
  <li><a href="{% url 'sets_index' theme_name='Harry Potter' %}">Browse Harry Potter Sets</a></li>
  <li class="divider"></li>
  <li><a href="{% url 'sets_index' theme_name='Star Wars' %}">Browse Star Wars Sets</a></li>
  <li class="divider"></li>
  <li><a href="{% url 'sets_index' theme_name='City' %}">Browse City Sets</a></li>
  <li class="divider"></li>
  <li><a href="{% url 'sets_index' theme_name='UCS' %}">Browse Ultimate Collector Series Sets</a></li>
</ul>
<ul id="dropdown01" class="dropdown-content">
  <li><a href="{% url 'sets_index' theme_name='Harry Potter' %}">Browse Harry Potter Sets</a></li>
  <li class="divider"></li>
  <li><a href="{% url 'sets_index' theme_name='Star Wars' %}">Browse Star Wars Sets</a></li>
  <li class="divider"></li>
  <li><a href="{% url 'sets_index' theme_name='City' %}">Browse City Sets</a></li>
  <li class="divider"></li>
  <li><a href="{% url 'sets_index' theme_name='UCS' %}">Browse Ultimate Collector Series Sets</a></li>
</ul>
<!-- Start of Navbar ----------------------------------------------------------------->
  <header class="navbar-fixed">
    <nav>
      <div class="nav-wrapper">

        <a href="{% url 'home' %}" class="brand-logo" id="navLogoId"><img src="{% static 'images/BrickByBrickLogo.png' %}" height="90" width="350"  ></a>

        <a href="#" data-target="mobile-links" class="sidenav-trigger">
          <i class="material-icons">menu</i>
        </a>
      
        <ul class="right hide-on-med-and-down">
<!-- Navbar if logged in----------------------------------------------------------------->
            {% if user.is_authenticated %}
            <li>
              <form method="POST" action="{% url 'search' %}" name="searchWord">
                {% csrf_token %}
                <div class="input-field">
                  <input id="search" type="search" name="searchWord" required>
                  <label class="label-icon" for="search">
                    <i class="material-icons">search</i>
                  </label>
                  <i class="material-icons">close</i>
                </div>
              </form>
            </li>
            <li><a href="{% url 'about' %}">About</a></li>
            <li>
              <a class="dropdown-trigger01" href="#!" data-target="dropdown01">
                View Set Themes
                <i class="material-icons right">arrow_drop_down</i>
              </a>
            </li>
            <li><a href="{% url 'logout' %}">Log Out</a></li>   
            <li>
              <a class="waves-effect waves-light btn" onclick="openNav()" ondblclick="closeNav()">Open Collections <i class="material-icons right">arrow_drop_down_circle</i></a>
            </li>

<!-- Navbar if not logged in----------------------------------------------------------------->
            {% else %}
            <li>
                  <form method="POST" action="{% url 'search' %}">
                    {% csrf_token %}
                    <div class="input-field">
                      <input id="search" type="search" name="searchWord" required>
                      <label class="label-icon" for="search">
                        <i class="material-icons">search</i>
                      </label>
                      <i class="material-icons">close</i>
                    </div>
                  </form>
            </li>
            <li><a href="{% url 'about' %}">About</a></li>
            <li><a href="{% url 'login' %}">Log In</a></li>
            <li><a href="{% url 'signup' %}">Sign Up</a></li>

            {% endif %}
        </ul>
      </div>
    </nav>
  </header>

<!-- Mobile Friendly Navbar ----------------------------------------------------------------->
  <ul class="sidenav" id="mobile-links">
<!-- Mobile Friendly Navbar if logged in----------------------------------------------------------------->
    {% if user.is_authenticated %}
    <li>
      <form method="POST" action="{% url 'search' %}" name="searchWord">
        {% csrf_token %}
        <div class="input-field">
          <input id="search" type="search" class="center" name="searchWord" required>
          <label class="label-icon" for="search">
            <i class="material-icons">search</i>
          </label>
          <i class="material-icons">close</i>
        </div>
      </form>
    </li>
    <li><a href="{% url 'about' %}">About</a></li>
    <li><a href="{% url 'collections_index' %}">View All My Lego Sets</a></li>
    <li>
      <a class="dropdown-trigger" href="#!" data-target="dropdown1">
        View Set Themes
        <i class="material-icons right">arrow_drop_down</i>
      </a>
    </li>
    <li><a href="{% url 'logout' %}">Log Out</a></li>

<!-- Mobile Friendly Navbar if not logged in----------------------------------------------------------------->
    {% else %}
    <li>
      <form method="POST" action="{% url 'search' %}" name="searchWord">
        {% csrf_token %}
        <div class="input-field">
          <input id="search" type="search" class="center" name="searchWord" required>
          <label class="label-icon" for="search">
            <i class="material-icons">search</i>
          </label>
          <i class="material-icons">close</i>
        </div>
      </form>
    </li>
    <li><a href="{% url 'about' %}">About</a></li>
    <li><a href="{% url 'login' %}">Log In</a></li>
    <li><a href="{% url 'signup' %}">Sign Up</a></li>

    {% endif %}
  </ul>


<!--Side bar----------------------------------------------------------------->
<div id="main">
<ul class="hide-on-med-and-down">
  <div id="sidebar" class="sidebar">
    <div class="closebtn" onclick="closeNav()">
      <i class="material-icons">close</i>  
    </div>
    <!-- <li>Parts List</li> -->
    <li>
      <a href = "{% url 'collections_index' %}">Collection List</a>
      {% for collection in collections %}
        <div class="card side-nav">
          <a href= "{% url 'collections_detail' collection.id %}">
          <div class="card-content">
            <span class="card-title">{{ collection.name }}</span>

            {% if collection.last_img %}
              <img src="{{ collection.last_img }}" alt="Lego Set Image" class="side-img">
            {% else %}
              <img src="https://i.imgur.com/6s7Y1bM.png" alt="Lego Set Image" class="side-img">
            {% endif %}

          </div>
          </a>
        </div>
      {% endfor %}
    </li>
  </div>
</div>
</ul>    

</div>


<!--Footer (not in use rn)----------------------------------------------------------------->
  <main class="container">
    {% block content %}
    {% endblock %}
  </main>
  <footer class="page-footer">
  </footer>



  <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <script src="{% static 'js/item-detail.js' %}"></script>
    
  <script>
    $(document).ready(function(){
      $('.sidenav').sidenav();
      $(".dropdown-trigger").dropdown();
      $(".dropdown-trigger01").dropdown();
    });

    

  </script>
</body>
</html>
