{% extends 'base.html' %}
{% block content %}

{% load static %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">
<link rel="stylesheet" href="{% static 'css/home.css' %}">

<h1 id="headerBoard">Inspiration Board</h1>
{% for set in sets %}
  <div class="card">
    <a href= "{% url 'detail' set.set_num%}">
    <div class="card-content">
      <span class="card-title">{{ set.name }}</span>
      <img src = "{{ set.img_url }}" alt = "{{ set.name }}"></a> 
      <!-- <p>Minifigures: {{set.minifigs | length }}</p> -->
    </div>
  </a>
  </div>
{% endfor %}

{% endblock %}