{% extends 'base.html' %}
{% block content %}

{% load static %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">
<link rel="stylesheet" href="{% static 'css/home.css' %}">
<link rel="stylesheet" href="{% static 'css/search.css' %}">

<style>
    .searchWallpaper {
        background-image: url("{% static 'images/search-background.png' %}");
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
    }

    /* This is a seudo element, the content points to a empty string,
    which creates the pseudo element.
    width & height is at 100% bc we want to cover 100% of the page.
    background-color is the color of the overlay. which also is the opacity.
    The z-index is set to -1, so it will be behind the content.
    SO the words wont be transparent.
    */

      .searchWallpaper::before {
        content: "";
        position: fixed;
        width: 100%;
        height: 100%;
        background-color: rgba(255, 255, 255, 0.5); /* adjust the alpha value as needed */
        z-index: -1;
    }
    
</style>

<body class="searchWallpaper">
    {% if searchWord %}
    <h1>You Searched for "{{ searchWord }}"</h1>
    <br>

    <h2>Results:</h2>
    
    <br>
    <div class="card-grid">
        {% for sets in searchSets %}
        <div class="card">
            <div class="card-content">
                <a href= "{% url 'detail' sets.set_num%}">
                    <span class="card-title">{{ sets.name }}</span>
                    <img src="{{ sets.img_url }}" alt="{{ sets.name }}">
                </a>

            </div>

        </div>
        {% endfor %}
    </div>
{% else %}
    <h1>Your search returned no results...</h1>
{% endif %}

                </div>
            <!-- </div> -->


</body>


{% endblock %}

<!-- Refrences:
https://www.youtube.com/watch?v=AGtae4L5BbI&t=725s 


-->
