{% extends 'base.html' %}
{% block content %}

{% load static %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">
<link rel="stylesheet" href="{% static 'css/home.css' %}">


    {% if searchWord %}
        <h1>You Searched for "{{ searchWord }}"</h1>
        <br>
        <h2>Results:</h2>
        <br>
        {% for sets in searchSets %}
            {{ sets.name }}
            <br>
        {% endfor %}
    {% else %}
        <h1>You Searched Nothin!</h1>

    {% endif %}

{% endblock %}

<!-- Refrences:
https://www.youtube.com/watch?v=AGtae4L5BbI&t=725s 


-->
